{% autoescape off %}
سلام {{ user.get_username }} عزیز 🌷

درخواست شما برای بازنشانی رمز عبور با موفقیت دریافت شد.

برای انتخاب رمز عبور جدید، لطفاً روی لینک زیر کلیک کنید یا آن را در مرورگر خود وارد نمایید:

🔗 {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

اگر شما این درخواست را ارسال نکرده‌اید، نیازی به انجام کاری نیست؛ این ایمیل را نادیده بگیرید و حساب شما همچنان ایمن خواهد بود.

با آرزوی بهترین‌ها برای شما  
تیم پشتیبانی {{ domain }}

💬 در صورت بروز هرگونه مشکل، با ما در تماس باشید.
{% endautoescape %}

